@tailwind components;

@layer components {
  .world-upload-search-form {
    @apply flex items-stretch lg:items-center justify-center;    
  }

  .world-upload-search-form button {
    @apply rounded-l-none p-1 min-w-[80px] bg-amber-600 hover:bg-amber-800 font-bold;
  }

  .world-upload-search-form input {
    @apply rounded-r-none p-1 outline-none bg-slate-100;
  }
}