@font-face {
  font-family: "PixelOperator";
  font-display: block; /* too big for swap */
  src: url('../public/fonts/PixelOperator.ttf');
}

@font-face {
  font-family: "PixelOperator";
  font-display: block;
  src: url('../public/fonts/PixelOperator-Bold.ttf');
  font-weight: bold;
}

html, input {
  font-family: "PixelOperator", monospace !important;
}