@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./fonts.css");
@import url("./basics.css");

@import url("../lib/pagination/pagination.css");
@import url("../lib/header/header.css");
@import url("../lib/smiley/smiley.css");
@import url("../lib/world-upload/world-upload.css");

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
  background: url("/bgblock.png");
  color: white;
  image-rendering: pixelated;
  /* Might use these later idk */
  --main-color: white;
  --secondary-color: white;
}

#__next {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  html, body, #__next {
    height: 100vh;
    overflow-y: hidden;
  }
  #__next {
    max-height: 100vh;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

* {
  box-sizing: border-box;
}

/* Scrollbar - Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #ffffff #000000;
}

/* Scrollbar - Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: rgb(30, 30, 30);
}

*::-webkit-scrollbar-thumb {
  border-radius: 1;
  background-color: rgb(200, 200, 200);
}

