.smiley-sprite {
  background: url("../../public/smileys.png");
  display: inline-block;
  width: 26px;
  height: 26px;
  line-height: 26px;
}

.smiley-sprite.empty {
  text-align: center;
  background: none;
}