.world-pagination {
  display: flex;
  justify-content: center;
}

.world-pagination .previous,
.world-pagination .next {
  color: cornflowerblue;
}

.world-pagination li {
  padding: 0 10px;
}

.world-pagination .selected {
  color: gold;
}
