@tailwind components;

@layer components {
  .header-form {
    @apply flex items-stretch lg:items-center justify-center;
  }

  .header-form button {
    @apply rounded-l-none p-1 min-w-[120px] bg-gradient-to-b bg-blue-600 hover:bg-blue-800 disabled:bg-gray-700 disabled:text-slate-300 font-bold;
  }

  .header-form input {
    @apply rounded-r-none p-1 pl-3 outline-none bg-slate-100 text-black;
  }
}