
.minimap-loader {
  animation-name: minimap-pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes minimap-pulse {
  0% {
    background-color: rgb(34, 34, 34);
  }
  50% {
    background-color: rgb(49, 49, 49);
  }
  100% {
    background-color: rgb(34, 34, 34);
  }
}
